.c-block{
    margin-left: 8%;
    margin-top: 8%;
}

.common-line{
    margin-top: 5%;
}

.save-line{
    margin-top: 10%;
}

.common-label{
    color:#000000;
    font-size: 14px;
}

.l-label{

}

.r-label{
    margin-left: 8%;
}

.common-input{
    width: 190px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
    border: 1px solid #c5c5c5;
    border-color: #c5c5c5;

    vertical-align: middle;
}
.common-input:focus {
    border-color: #35b558;
    -webkit-box-shadow: 0 0 5px #51cc73;
    box-shadow: 0 0 5px #51cc73;
}

.save-Btn {
    height: 40px;
    font-size: 18px;
    border-color: #6fd508;
    background: #94ea95;
    width: 270px;
    border-radius: 5px;
    margin-left: 25%;
}
.search-Btn {
    height: 35px;
    font-size: 14px;
    border-color: #6fd508;
    background: #94ea95;
    width: 70px;
    border-radius: 2px;
    margin-left: 15px;
}
.save-Btn:hover{
    color: #000000;
}