@CHARSET "UTF-8";
.txt3:hover .ceng4{display:block;padding:0px;border:0px;}
.txt3c:hover .ceng4{display:block;padding:0px;border:0px;}
.txt3c{font-size:10px;line-height:16px;color:#ffffff; text-align:center; letter-spacing:0.14em;}
.txt3c a:link {text-decoration: none; color: #ffffff; text-align:center; letter-spacing:0.14em; }
.txt3c a:visited {text-decoration: none; color:#ffffff; text-align:center; letter-spacing:0.14em;}
.txt3c a:hover{text-decoration:  none;color: #f8e9ab; text-align:center;letter-spacing:0.14em; }
.txt3c a:active {text-decoration: none;color: #ffffff; text-align:center;letter-spacing:0.14em; }
.input1{height:18px;width:130px;border: 0px solid #000; }
#loginform #loginbj1{
    background:url(../../../build/images/loginbj2.png) no-repeat;

}
body{margin:0;padding:0;font-size:10px;}
#header{background:url(../../../build/images/headerBg.png) repeat-x;  padding-top:5px;padding-bottom:6px;}
#header .btn-black{color:white; text-decoration:none;  line-height: 75px;}
#logo{width:950px; margin:0px auto;}
#logo .nav li{float:left;width:90px;height:35;}
#help{float:right; color:"#ffffff"}
.clear{clear:both;}
table {font-size:10px;line-height:16px;}
#footer{text-align:center;color:#999999;}
#footer a{color:#666666; text-decoration:underline;}
#login{width:550px; margin:0px auto; padding:30px 0;}
.txt2c{line-height:16px;font-size:10px;color:#ffffff; text-align:right; text-indent:2px;}
div {
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 10px;
}
.end { position:fixed;
    bottom:0px;
    z-index:99;
    width:100%;
    height:62px;
    line-height:62px;
    /* background-color:#7e231b; */
    font-size:10px;
    color: #ffffff;
    text-align:center;
    background:url(../../../build/images/headerBg.png) repeat-x;  padding-top:5px;padding-bottom:6px;}